In [2]:
import numpy as np
import pandas as pd

In [64]:
players_data = pd.read_csv("player_data\players_data.csv")
players_stat = pd.read_csv("player_data\players_stats.csv")

In [90]:
players_data[players_data["player_id"] == 108390]
players_data.columns

Index(['player_id', 'shirt_number', 'given_name', 'full_name', 'date_of_birth',
       'citizenship', 'place_of_birth', 'caps', 'goals', 'other_positions',
       'outfitter', 'contract_expires', 'agent', 'foot', 'contract_Joined',
       'height', 'current_club', 'date_of_last_contract', 'players_link'],
      dtype='object')

In [65]:
players_stat.head()

,id,name,appearances,goals,asists,yellow_cards,second_yellow_cards,red_cards,minutes_played,goals_conceded,clean_sheets
0,108390,thibaut-courtois,52,-,NaN,1,-,-,4.770',46,22
1,33873,asmir-begovic,7,-,NaN,-,-,-,660',13,2
2,128898,jamal-blackman,3,-,NaN,-,-,-,270',2,2
3,16810,marco-amelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,157509,kurt-zouma,33,1,1,2,-,-,2.926',NaN,NaN

In [66]:
players_data.head()

,player_id,shirt_number,given_name,full_name,date_of_birth,citizenship,place_of_birth,caps,goals,other_positions,outfitter,contract_expires,agent,foot,contract_Joined,height,current_club,date_of_last_contract,players_link
0,108390,#1,Thibaut Courtois,Thibaut Nicolas Marc Courtois,"May 11, 1992 (31)",Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,left,"Aug 9, 2018",200.0,Real Madrid,"Aug 16, 2021",NaN
1,33873,#1,Asmir Begovic,Asmir BegoviÄ‡,"Jun 20, 1987 (36)",Bosnia-Herzegovina,Trebinje,63.0,0.0,NaN,AB1,"Jun 30, 2024",Mondial,right,"Jul 17, 2023",199.0,Queens Park Rangers,NaN,NaN
2,128898,#30,Jamal Blackman,Jamal Clint-Ross Blackman,"Oct 27, 1993 (30)",England,London,0.0,0.0,NaN,Nike,"Jun 30, 2025",Panthera Sports,right,"Jul 3, 2023",199.0,Burton Albion,NaN,NaN
3,16810,NaN,Marco Amelia,NaN,"Apr 2, 1982 (41)",Italy,Frascati,9.0,0.0,NaN,NaN,-,NaN,right,"Jul 1, 2017",190.0,Retired,NaN,NaN
4,157509,#4,Kurt Zouma,Kurt Happy Zouma,"Oct 27, 1994 (29)",France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,right,"Aug 28, 2021",190.0,West Ham United,NaN,NaN

In [154]:
# Perform an inner join
merged_data = pd.merge(players_data, players_stat, left_on='player_id', right_on= 'id', how= 'inner')

# Display the first few rows of the merged dataset
merged_data["minutes_played"].head()

0    4.770'
1      660'
2      270'
3       NaN
4    2.926'
Name: minutes_played, dtype: object

### Change the minutes_played into integer type

In [155]:
# Replace hyphens with NaN and convert to float
# inplace transform
# Modified function to handle dashes and missing values in the minutes_played column
def clean_minutes_played(value):
    if pd.isna(value) or value == '-':
        return None
    return int(value.replace("'", "").replace(".", ""))

# Apply the modified function to the minutes_played column
merged_data['minutes_played'] = merged_data['minutes_played'].apply(clean_minutes_played)

In [156]:
merged_data["minutes_played"].head()

0    4770.0
1     660.0
2     270.0
3       NaN
4    2926.0
Name: minutes_played, dtype: float64

In [157]:
merged_data.columns

Index(['player_id', 'shirt_number', 'given_name', 'full_name', 'date_of_birth',
       'citizenship', 'place_of_birth', 'caps', 'goals_x', 'other_positions',
       'outfitter', 'contract_expires', 'agent', 'foot', 'contract_Joined',
       'height', 'current_club', 'date_of_last_contract', 'players_link', 'id',
       'name', 'appearances', 'goals_y', 'asists', 'yellow_cards',
       'second_yellow_cards', 'red_cards', 'minutes_played', 'goals_conceded',
       'clean_sheets'],
      dtype='object')

### Extract only age, remove birthday

In [158]:
# Extract age, remove birthday
# Extract age from the date_of_birth column
merged_data['age'] = merged_data['date_of_birth'].str.extract(r'\((\d+)\)').astype(float)

# merged_data[['date_of_birth', 'age']].head()
merged_data.head()

,player_id,shirt_number,given_name,full_name,date_of_birth,citizenship,place_of_birth,caps,goals_x,other_positions,...,appearances,goals_y,asists,yellow_cards,second_yellow_cards,red_cards,minutes_played,goals_conceded,clean_sheets,age
0,108390,#1,Thibaut Courtois,Thibaut Nicolas Marc Courtois,"May 11, 1992 (31)",Belgium,Bree,102.0,0.0,NaN,...,52,-,NaN,1,-,-,4770.0,46,22,31.0
1,33873,#1,Asmir Begovic,Asmir BegoviÄ‡,"Jun 20, 1987 (36)",Bosnia-Herzegovina,Trebinje,63.0,0.0,NaN,...,7,-,NaN,-,-,-,660.0,13,2,36.0
2,128898,#30,Jamal Blackman,Jamal Clint-Ross Blackman,"Oct 27, 1993 (30)",England,London,0.0,0.0,NaN,...,3,-,NaN,-,-,-,270.0,2,2,30.0
3,16810,NaN,Marco Amelia,NaN,"Apr 2, 1982 (41)",Italy,Frascati,9.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0
4,157509,#4,Kurt Zouma,Kurt Happy Zouma,"Oct 27, 1994 (29)",France,Lyon,11.0,1.0,Right-Back,...,33,1,1,2,-,-,2926.0,NaN,NaN,29.0

In [159]:
# Then drop date_of_birth column
merged_data.drop(columns= ["date_of_birth"], inplace= True)
print(merged_data.head())

   player_id shirt_number        given_name                      full_name  \
0     108390           #1  Thibaut Courtois  Thibaut Nicolas Marc Courtois
1      33873           #1     Asmir Begovic                  Asmir BegoviÄ‡
2     128898          #30    Jamal Blackman      Jamal Clint-Ross Blackman
3      16810          NaN      Marco Amelia                            NaN
4     157509           #4        Kurt Zouma               Kurt Happy Zouma

          citizenship place_of_birth   caps  goals_x other_positions  \
0             Belgium           Bree  102.0      0.0             NaN
1  Bosnia-Herzegovina       Trebinje   63.0      0.0             NaN
2             England         London    0.0      0.0             NaN
3               Italy       Frascati    9.0      0.0             NaN
4              France           Lyon   11.0      1.0      Right-Back

  outfitter  ... appearances goals_y asists yellow_cards  second_yellow_cards  \
0      Nike  ...          52       -    NaN            1                    -
1       AB1  ...           7       -    NaN            -                    -
2      Nike  ...           3       -    NaN            -                    -
3       NaN  ...         NaN     NaN    NaN          NaN                  NaN
4       NaN  ...          33       1      1            2                    -

  red_cards minutes_played  goals_conceded  clean_sheets   age
0         -         4770.0              46            22  31.0
1         -          660.0              13             2  36.0
2         -          270.0               2             2  30.0
3       NaN            NaN             NaN           NaN  41.0
4         -         2926.0             NaN           NaN  29.0

[5 rows x 30 columns]

In [160]:
merged_data.head()

,player_id,shirt_number,given_name,full_name,citizenship,place_of_birth,caps,goals_x,other_positions,outfitter,...,appearances,goals_y,asists,yellow_cards,second_yellow_cards,red_cards,minutes_played,goals_conceded,clean_sheets,age
0,108390,#1,Thibaut Courtois,Thibaut Nicolas Marc Courtois,Belgium,Bree,102.0,0.0,NaN,Nike,...,52,-,NaN,1,-,-,4770.0,46,22,31.0
1,33873,#1,Asmir Begovic,Asmir BegoviÄ‡,Bosnia-Herzegovina,Trebinje,63.0,0.0,NaN,AB1,...,7,-,NaN,-,-,-,660.0,13,2,36.0
2,128898,#30,Jamal Blackman,Jamal Clint-Ross Blackman,England,London,0.0,0.0,NaN,Nike,...,3,-,NaN,-,-,-,270.0,2,2,30.0
3,16810,NaN,Marco Amelia,NaN,Italy,Frascati,9.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0
4,157509,#4,Kurt Zouma,Kurt Happy Zouma,France,Lyon,11.0,1.0,Right-Back,NaN,...,33,1,1,2,-,-,2926.0,NaN,NaN,29.0

### We have playerID, name is not neccesary for computer

In [161]:
merged_data.drop(columns= ['given_name', 'full_name', "name", "players_link", "id"], inplace= True)

In [162]:
merged_data.columns

Index(['player_id', 'shirt_number', 'citizenship', 'place_of_birth', 'caps',
       'goals_x', 'other_positions', 'outfitter', 'contract_expires', 'agent',
       'foot', 'contract_Joined', 'height', 'current_club',
       'date_of_last_contract', 'appearances', 'goals_y', 'asists',
       'yellow_cards', 'second_yellow_cards', 'red_cards', 'minutes_played',
       'goals_conceded', 'clean_sheets', 'age'],
      dtype='object')

# CLUB DATA

In [163]:
club_players = pd.read_csv("club_data\club_players.csv")
club = pd.read_csv("club_data\club.csv")
league_goals = pd.read_csv("club_data\league_goals.csv")

In [164]:
club_players.head(3)

,Unnamed: 0,League,Season,ClubID,Player_name,PlayerID,Player_MarketValue,Player_position
0,0,Premier League,2015,631,Thibaut Courtois,108390,â‚¬35.00m,Goalkeeper
1,1,Premier League,2015,631,Asmir Begovic,33873,â‚¬12.00m,Goalkeeper
2,2,Premier League,2015,631,Jamal Blackman,128898,â‚¬250k,Goalkeeper

In [165]:
club.head(3)

,Unnamed: 0,CountryID,Country,League,Season,Club,ClubID,Squad,avgAge,Foreigners,...,totalMarketValue,Stadium,StadiumCap,Club_income,Club_expenditure,Club_OverallBalance,Coach,Club_victories,Players,Rank
0,0,189,England,Premier League,2015,Chelsea FC,631,40,24.7,31,...,â‚¬553.50m,Stamford Bridge,40.853 Seats,â‚¬87.49m,â‚¬96.50m,â‚¬-9.01m,Guus Hiddink;Andy Wilson;JosÃ© Mourinho,Champions League Participant,\r\n Thibaut CourtoisÂ ;\r\n ...,10.0
1,1,189,England,Premier League,2015,Manchester City,281,38,25.4,27,...,â‚¬499.35m,Etihad Stadium,55.017 Seats,â‚¬67.44m,â‚¬208.47m,â‚¬-141.03m,Manuel Pellegrini,English League Cup winner;Champions League Par...,\r\n Joe Hart ;\r\n ...,4.0
2,2,189,England,Premier League,2015,Arsenal FC,11,41,24.7,29,...,â‚¬457.85m,Emirates Stadium,60.704 Seats,â‚¬2.50m,â‚¬26.50m,â‚¬-24.00m,ArsÃ¨ne Wenger,Champions League Participant;English Supercup ...,\r\n Petr Cech ;\r\n...,2.0

In [166]:
newest_season_club = club[club["Season"] == 2021]

In [167]:
newest_season_club["Players"].head()

120    \r\n                Ederson            ;\r\n  ...
121    \r\n                Alisson            ;\r\n  ...
122    \r\n                Edouard Mendy            ;...
123    \r\n                Dean HendersonÂ  ;\r\n     ...
124    \r\n                Pierluigi Gollini         ...
Name: Players, dtype: object

In [168]:
newest_season_club.columns

Index(['Unnamed: 0', 'CountryID', 'Country', 'League', 'Season', 'Club',
       'ClubID', 'Squad', 'avgAge', 'Foreigners', 'avgMarketValue',
       'totalMarketValue', 'Stadium', 'StadiumCap', 'Club_income',
       'Club_expenditure', 'Club_OverallBalance', 'Coach', 'Club_victories',
       'Players', 'Rank'],
      dtype='object')

In [169]:
club_shortlist = club[["Club", "League", "avgAge", "avgMarketValue", "totalMarketValue", "Club_income", "Rank"]]
columns_list = ["Club", "Country", "League", "avgAge", "avgMarketValue", "totalMarketValue", "Club_income", "Rank"]
dict_name = {}
for i in range(len(columns_list)) :
    dict_name[columns_list[i]] = "club_" + columns_list[i]
print(dict_name)
club_shortlist = club_shortlist.rename(columns= dict_name)
club_shortlist.head()

{'Club': 'club_Club', 'Country': 'club_Country', 'League': 'club_League', 'avgAge': 'club_avgAge', 'avgMarketValue': 'club_avgMarketValue', 'totalMarketValue': 'club_totalMarketValue', 'Club_income': 'club_Club_income', 'Rank': 'club_Rank'}

,club_Club,club_League,club_avgAge,club_avgMarketValue,club_totalMarketValue,club_Club_income,club_Rank
0,Chelsea FC,Premier League,24.7,â‚¬13.84m,â‚¬553.50m,â‚¬87.49m,10.0
1,Manchester City,Premier League,25.4,â‚¬13.14m,â‚¬499.35m,â‚¬67.44m,4.0
2,Arsenal FC,Premier League,24.7,â‚¬11.17m,â‚¬457.85m,â‚¬2.50m,2.0
3,Manchester United,Premier League,23.5,â‚¬10.00m,â‚¬439.85m,â‚¬100.67m,5.0
4,Liverpool FC,Premier League,23.4,â‚¬8.53m,â‚¬375.25m,â‚¬90.55m,8.0

In [172]:
# Perform an inner join
full_data = pd.merge(merged_data, club_shortlist, left_on='current_club', right_on= "club_Club", how= "left")
full_data = full_data.rename(columns= {"club_Club" : "club"})
# Display the first few rows of the merged dataset
full_data.head(20)

,player_id,shirt_number,citizenship,place_of_birth,caps,goals_x,other_positions,outfitter,contract_expires,agent,...,goals_conceded,clean_sheets,age,club,club_League,club_avgAge,club_avgMarketValue,club_totalMarketValue,club_Club_income,club_Rank
0,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,24.8,â‚¬23.81m,â‚¬714.30m,â‚¬24.15m,2.0
1,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,25.7,â‚¬27.69m,â‚¬802.90m,â‚¬37.50m,1.0
2,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,24.5,â‚¬29.85m,â‚¬955.35m,â‚¬132.50m,3.0
3,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,24.7,â‚¬24.89m,â‚¬896.10m,â‚¬136.10m,3.0
4,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,25.6,â‚¬27.69m,â‚¬913.75m,â‚¬136.80m,1.0
5,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,24.8,â‚¬21.28m,â‚¬787.30m,â‚¬108.20m,2.0
6,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,25.7,â‚¬21.41m,â‚¬770.75m,â‚¬78.00m,1.0
7,33873,#1,Bosnia-Herzegovina,Trebinje,63.0,0.0,NaN,AB1,"Jun 30, 2024",Mondial,...,13,2,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,128898,#30,England,London,0.0,0.0,NaN,Nike,"Jun 30, 2025",Panthera Sports,...,2,2,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,16810,NaN,Italy,Frascati,9.0,0.0,NaN,NaN,-,NaN,...,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,157509,#4,France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,...,NaN,NaN,29.0,West Ham United,Premier League,24.2,â‚¬4.03m,â‚¬201.33m,â‚¬18.52m,7.0
11,157509,#4,France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,...,NaN,NaN,29.0,West Ham United,Premier League,24.7,â‚¬6.21m,â‚¬273.05m,â‚¬41.00m,11.0
12,157509,#4,France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,...,NaN,NaN,29.0,West Ham United,Premier League,25.3,â‚¬6.36m,â‚¬260.60m,â‚¬69.02m,13.0
13,157509,#4,France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,...,NaN,NaN,29.0,West Ham United,Premier League,26.6,â‚¬9.70m,â‚¬359.00m,â‚¬13.77m,10.0
14,157509,#4,France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,...,NaN,NaN,29.0,West Ham United,Premier League,26.5,â‚¬7.99m,â‚¬303.60m,â‚¬55.48m,16.0
15,157509,#4,France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,...,NaN,NaN,29.0,West Ham United,Premier League,26.5,â‚¬8.59m,â‚¬334.90m,â‚¬45.41m,6.0
16,157509,#4,France,Lyon,11.0,1.0,Right-Back,NaN,"Jun 30, 2025",NaN,...,NaN,NaN,29.0,West Ham United,Premier League,26.0,â‚¬9.86m,â‚¬354.90m,â‚¬4.24m,7.0
17,27511,NaN,England,Dronfield,61.0,5.0,NaN,adidas,-,NaN,...,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,177476,#6,Netherlands,Den Haag,42.0,5.0,"Left-Back, Defensive Midfield",Nike,"Jun 30, 2027",Wasserman,...,NaN,NaN,28.0,Manchester City,Premier League,25.4,â‚¬13.14m,â‚¬499.35m,â‚¬67.44m,4.0
19,177476,#6,Netherlands,Den Haag,42.0,5.0,"Left-Back, Defensive Midfield",Nike,"Jun 30, 2027",Wasserman,...,NaN,NaN,28.0,Manchester City,Premier League,26.4,â‚¬16.47m,â‚¬576.50m,â‚¬35.35m,3.0

In [173]:
full_data.head()

,player_id,shirt_number,citizenship,place_of_birth,caps,goals_x,other_positions,outfitter,contract_expires,agent,...,goals_conceded,clean_sheets,age,club,club_League,club_avgAge,club_avgMarketValue,club_totalMarketValue,club_Club_income,club_Rank
0,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,24.8,â‚¬23.81m,â‚¬714.30m,â‚¬24.15m,2.0
1,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,25.7,â‚¬27.69m,â‚¬802.90m,â‚¬37.50m,1.0
2,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,24.5,â‚¬29.85m,â‚¬955.35m,â‚¬132.50m,3.0
3,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,24.7,â‚¬24.89m,â‚¬896.10m,â‚¬136.10m,3.0
4,108390,#1,Belgium,Bree,102.0,0.0,NaN,Nike,"Jun 30, 2026",Christophe Henrotay,...,46,22,31.0,Real Madrid,LaLiga,25.6,â‚¬27.69m,â‚¬913.75m,â‚¬136.80m,1.0

In [175]:
testing = full_data[full_data["player_id"] == 108390]
testing
a = testing.iloc[0]
b = testing.iloc[1]
# print(a == b)
print(testing.columns)

Index(['player_id', 'shirt_number', 'citizenship', 'place_of_birth', 'caps',
       'goals_x', 'other_positions', 'outfitter', 'contract_expires', 'agent',
       'foot', 'contract_Joined', 'height', 'current_club',
       'date_of_last_contract', 'appearances', 'goals_y', 'asists',
       'yellow_cards', 'second_yellow_cards', 'red_cards', 'minutes_played',
       'goals_conceded', 'clean_sheets', 'age', 'club', 'club_League',
       'club_avgAge', 'club_avgMarketValue', 'club_totalMarketValue',
       'club_Club_income', 'club_Rank'],
      dtype='object')

### FOR OTHER COLUMN, WE WILL CREATE A TABLE AND TRANSFORM USING IDEA FROM RELATIONAL DATABASE